<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <div style="padding-left: 5%;">
        <a href="#">
            <img src="static/images/homelogo.png" style="width:70px;"
                class="rounded-pill">
        </a>
        <a href="#">
            <img src="static/images/profile.png" style="width:70px;"
                class="rounded-pill">
        </a>
        <a href="#">
            <img src="static/images/grocery.png" style="width:70px;"
                class="rounded-pill">
        </a>
        <a href="/">
            <img src="static/images/cart.png" style="width:70px;" class="rounded-pill">
        </a>
        <a href="#">
            <img src="static/images/delivery.png" style="width:70px;"
                class="rounded-pill">
        </a>
        <a href="clawmachine.html">
            <img src="static/images/game.png" style="width:70px;" class="rounded-pill">
        </a>
        <a href="/retrieveInfo">
            Retrieve Users
        </a>
    </div>
</nav>