<style>
    nav a img {
        -webkit-transform: scale(0.5);
        transform: scale(1.0);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }

    nav a:hover img {
        -webkit-transform: scale(0.5);
        transform: scale(0.8);
    }


</style>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark sticky-top">
    <div style="padding-left: 5%;">
        <a href="/">
            <img src="/static/images/home icon.png" style="width:70px;" class="rounded-pill">
        </a>
        <a href="/profile">
            <img src="/static/images/account icon.png" style="width:70px;" class="rounded-pill" />
        </a>
        <a href="/shopping">
            <img src="/static/images/store icon.png" style="width:70px;" class="rounded-pill">
        </a>
        <a href="/cart">
            <img src="/static/images/cart icon.png" style="width:70px;" class="rounded-pill">
        </a>
        <a href="/form">
            <img src="/static/images/delivery icon.png" style="width:70px;" class="rounded-pill">
        </a>
        <a href="/game">
            <img src="/static/images/game icon.png" style="width:70px;" class="rounded-pill">
        </a>
        <a href="/feedback">
            <img src="/static/images/feedback icon.png" style="width:70px;" class="rounded-pill">
        </a>
        <a href="/retrieveInfo">
            Retrieve Users
        </a>
        <a href="/admin">
            admin
        </a>
        <a href="/index">
            parcel list
        </a>
        <a href="/logout">
            Logout
        </a>
    </div>
</nav>