{% extends "base.html" %}
{% block title %}Grocery Store - Shopping{% endblock %}


{% block content %}
<h1>Add Product</h1>
<form method="POST" action="/admin">
    <label for="name">Product Name:</label>
    <input type="text" name="name" required><br>

    <label for="price">Price:</label>
    <input type="text" name="price" required><br>

    <label for="stock">Stock:</label>
    <input type="text" name="stock" required><br>

    <label for="image">Image URL:</label>
    <input type="text" name="image" required><br>

    <label for="seedplant">Seed or plant</label>
    <select id="seedplant" name="seedplant">
        <option value="seed">Seed</option>
        <option value="plant">Plant</option>
    </select><br>

    <input type="submit" value="Add Product">
</form>
{% endblock %}