{% extends "base.html" %}
{% block title %}Grocery Store - Shopping{% endblock %}


{% block content %}
<style>
    h1 {
        text-align: center;
    }
    
    form {
        margin: auto;
        padding-top: 20px;
        padding-bottom: 20px;
        display: grid;
        align-self: center;
        place-items: center;
        min-height: 70vh;
        justify-content: center;
        border: 3px solid rgb(236, 194, 194);
        border-radius: 30px;
        background-color: rgb(236, 213, 232);
        width: 80%;
    }
    
    a {
        margin: 0px 7.7px ;
    }
</style>

<h1>Add Product</h1>
<form autocomplete="off" method="POST" action="/admin" enctype="multipart/form-data">
    <label for="name">Product Name:</label>
    <input autocomplete="false" type="text" name="name" required><br>

    <label for="price">Price:</label>
    <input autocomplete="false" type="text" name="price" pattern="^(?=[1-9]\d*|0\.\d*[1-9])\d*\.?\d*$" required><br>

    <label for="stock">Stock:</label>
    <input autocomplete="false" type="text" name="stock" pattern="[1-9][0-9]*" required><br>

    <label for="image">Image:</label>
    <input autocomplete="false" type="file" name="image" required><br>

    <label for="seedplant">Seed or plant</label>
    <select id="seedplant" name="seedplant">
        <option value="seed">Seed</option>
        <option value="plant">Plant</option>
    </select><br>

    <input type="submit" value="Add Product">
</form>
{% endblock %}