{% extends "base.html" %}
{% block title %} Farmville - Checkout {% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<style>
    a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }

    button {
        position: absolute;
        left: 5;
        bottom: 0;
    }

    #test {
        background-color: lightpink;
        border-radius: 8%;
        height: 550px;
        padding: 20px 20px 20px 20px;
    }

    #cckout {
        font-weight: bold;
        color: #B19CD9;
    }

    #btn {
        margin-top: 20px;
        margin-left: 85%;
        background-color: #B19CD9;
        border-color: #B19CD9;
    }

    .two-col {
        overflow: hidden;
    }

    .two-col #col1,
    .two-col #col2 {
        width: 49%;
    }

    .two-col #col1 {
        float: left;
    }

    .two-col #col2 {
        float: right;
    }
</style>
<h1 class="display-4" style="padding-left: 5%; font-weight: bolder; color: lightpink;">Shopping Cart</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-6" class="form-group">
            <table class="table table-striped" style="padding-right: 10%;">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total Price</th>
                    </tr>
                </thead>
                {% set ns = namespace(total = 0) %}  
                {% for product in products %}
                    {% set total_price = product.total_price|int %}
                    {% set ns.total = ns.total + total_price %}
                <tr>
                    <td>{{product.name}}</td>
                    <td>{{product.amount}}</td>
                    <td>${{product.price}}</td>     
                    <td>{{product.total_price}}</td>
                    <td><a href="{{url_for('delete_cart', id = products.index(product) )}}">Delete</a></td> 
                    
                </tr>
        
                {% endfor %}
                
                <tr>
                    <td colspan="3" style="text-align: right;">${{"%.2f"| format(ns.total)}}</td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: right;">Shipping: $0.00</td>
                </tr>
                <tr>
                    <td colspan="3" style="text-align: right; font-size: large;">Total: $0.00</td>
                </tr>
            </table>
        </div>
        <div class="col-lg-6" id="test">
            <h1 id="cckout">Checkout</h1>
            <p>{{ date_time }}</p>
            <form method="POST" action="">
                <div class="form-group">
                    {{ render_field(form.name, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.address, class="form-control") }}
                </div>
                <div class="form-group">
                    {{ render_field(form.card_number, class="form-control") }}
                </div>
                <div class="two-col">
                    <div class="form-group" id="col1">
                        {{ render_field(form.exp_month, class="form-control") }}
                    </div>
                    <div class="form-group" id="col2">
                        {{ render_field(form.exp_year, class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ render_field(form.cvv, class="form-control") }}
                </div>
                <input id="btn" type="submit" value="Confirm" class="btn btn-primary" />
            </form>
        </div>
    </div>
</div>
<div>
    {% for info in chckoutinfo_list %}
    <p>{{ info.get_difference() }}</p>
    {% endfor %}
</div>
<button type="button" class="btn" style="background-color: lightcoral;"><a href="#">CONTINUE SHOPPING</a></button>

{% endblock %}