{%extends "base.html" %}
{% block title %}Grocery store - Feedback {% endblock %}

    
{% block content %}   
    <style>
        /* body {
            text-align: center;
            margin-top: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            height: 100vh;
            background-color:#ffffff;
            overflow:hidden;
        } */

        .feedback {
            margin: 0px 300px;
            text-align: center;
            margin-top: 150px;
            padding-top: 20px;
            padding-bottom: 20px;
            display: grid;
            align-self: center;
            place-items: center;
            min-height: 40vh;
            justify-content: center;
            border: 3px solid rgb(255, 194, 194);
            border-radius: 30px;
            background-color: rgb(250, 197, 221);
            width: 60%;
        }

        a {
            margin: 0px 7.7px ;
        }

        /* nav {
            width: 100%;
            height: 100px;
            background-color: #343a40;
            color: white;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            margin-top: -1000px;
            margin-bottom: 500px; 
        }

        nav a {
            color: white;
            text-decoration: none;
            margin-right: 15px;
        } */

        label {
            padding-bottom: 25px;
        }

        .button-73 {
            appearance: none;
            background-color: #FFFFFF;
            border-radius: 40em;
            border-style: none;
            box-shadow: #ADCFFF 0 -12px 6px inset;
            box-sizing: border-box;
            color: #000000;
            cursor: pointer;
            display: inline-block;
            font-family: -apple-system,sans-serif;
            font-size: 1.2rem;
            font-weight: 700;
            letter-spacing: -.24px;
            margin: 0;
            outline: none;
            padding: 1rem 1.3rem;
            quotes: auto;
            text-align: center;
            text-decoration: none;
            transition: all .15s;
            user-select: none;
            -webkit-user-select: none;
            touch-action: manipulation;
            margin-top: 8px;
        }

        .button-73:hover {
            background-color: #f2bbdf;
            box-shadow: #de96d0 0 -6px 8px inset;
            transform: scale(1.125);
        }

        .button-73:active {
            transform: scale(1.025);
        }
    </style>

    <div class="feedback">
        <h2>Feedback Form</h2>
        <form method="POST" action="{{ url_for('main') }}">
            {{ form.hidden_tag() }}
            <label for="name">Name:</label>
            {{ form.name() }}<br>

            <label for="email">Email:</label>
            {{ form.email() }}<br>

            <label for="message">Message:</label>
            {{ form.message() }}<br>

            <button class="button-73" type="submit">Submit</button>
        </form>
    </div>

{% endblock %}
