{% extends "base.html" %}
{% block navbar %}
{% endblock %}
{% block title %}
Login System
{% endblock %}


{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='javascript/login.js') }}"></script>
{% endblock %}




{% block content %}
<form id="loginForm" method="POST" action="/login">
    <div class="container login_page">
      <div class="row">
        <div class="col-md-4">
          <div class="login_form">
            <h5>Login</h5>
            <div class="row_user_buttons">
              <div class="col-6">
        
                <button type="button" class="User_but" id="button1">User Login</button>
              </div>
              <div class="col-6">
                <button type="button" class="admin_but" id="button2">Admin Login</button>
              </div>
            </div>
            <div class="user_login active" id="div1">
              <div class="login_email_input">
                <label for="email" class="form-label">User Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="thomas@gmail.com">
              </div>
              <div class="login_password_input">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="passwordInput" placeholder="Enter Password">
              </div>
              <div class="forget_password">
                <input type="checkbox" id="showPasswordCheckbox" onchange="togglePasswordVisibility()"> Show
                Password
                <span><a href="#">Forget Password</a></span>  
                <p>New to Farmville? Sign up  <a href="/signup" style="color:blue;"> Here</a></p>
              </div>
              <div class="login_button">
                <button class="btn login_button">Login</button>
        </form>
              </div>
            </div>
            <form action="/admin_login" method="post"></form>
            <div class="admin_login" id="div2">
              <div class="login_email_input">
                <label for="email" class="form-label">Admin Email</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="admin@gmail.com">
              </div>
              <div class="login_password_input">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Enter Password">
              </div>
              <div class="login_button">
                <button class="btn login_button">Login</button>
              </div>
            </div>
          </form>
          </div>
        </div> 
        <div class="col-md-8">
          <div class="title">
            <h4></h4>
            <h5></h5>
          </div>
        </div>
      </div>
    </div>
</form>



{% endblock %}