{% extends "base.html" %}

{% block title %}
Login System
{% endblock %}


{% block head %}
<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='javascript/login.js')}}"></script>
{% endblock %}




{% block content %}
<style>
body {
  background-color: #FFC0CB;
  background-size: cover;
  background-position-y: center;
  background-repeat: no-repeat;
}

.container.login_page {
    height: 46vh;
    background: rgb(255, 192, 203);
    background: linear-gradient(180deg, rgba(255, 192, 203, 1) 23%, rgba(255, 182, 193, 1) 81%, rgba(255, 105, 180, 1) 100%);
    border-radius: 0 0 50px 0;
    padding: 50px 50px;
    box-shadow: 5px 5px 10px #4d4d4d30, -5px -5px 10px #45454530;
    width: 54vh;
    margin-top: 20px;
}

.container.login_page h5 {
    text-align: center;
    color: #FF69B4;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.container.login_page input[type="email"],
.container.login_page input[type="password"] {
    background-color: #ffffff !important;
    border: 2px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
    width: 300px;
}

.container.login_page .forget_password {
    color: #000000;
    font-size: 14px;
}

.container.login_page .forget_password label {
    text-decoration: none;
    color: #000000;
}

.container.login_page .login_button {
    width: 100%;
    text-align: center;
    margin-top: 16px;
}

.container.login_page .login_button button {
    width: 100%;
    border-radius: 26px;
    font-size: 18px;
    padding: 6px 26px;
    background-color: #FF69B4;
    color: #ffffff;
}

.container.login_page .login_button button:hover {
    background-color: #FF1493;
    color: #ffffff;
}

.container.login_page .forget_password a {
    color: #FF69B4;
}

.container.login_page .forget_password a span {
    display: none;
}

.container.login_page .forget_password a.active {
    display: block !important;
}

.container.login_page .forget_password a.active_button {
    border-bottom: 1px solid #FF69B48f !important;
    border-radius: 0 !important;
}
.password-toggle {
  display: flex;
  align-items: center;
}
.container.login_page .forget_password a {
  color: #000000; /* Change this line */
}

.container.login_page .forget_password a.active {
  color: #000000; /* Add this line */
}
.container.login_page input[type="email"],
.container.login_page input[type="password"],
.container.login_page input[type="text"] {
    background-color: #ffffff !important;
    border: 2px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
    width: 300px;
}
</style>

<form id="loginForm" method="POST" action="/login">
    <div class="container login_page">
      <div class="row">
        <div class="col-md-4">
          <div class="login_form">
            <h5>Login</h5>
            <div class="row_user_buttons">
              <div class="col-6">
            </div>
            <div class="user_login active" id="div1">
              <div class="login_email_input">
                <label for="email" class="form-label">User Email</label>
                <input type="email" class="form-control" name="email" id="" placeholder="Enter your email">
              </div>
              <div class="login_password_input">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="passwordInput" placeholder="Enter your password">
              </div>
              <div class="forget_password">
                <input type="checkbox" id="showPasswordCheckbox" onchange="togglePasswordVisibility()"> Show
                Password
                <span><a href="#">Forget Password</a></span>  
                <p>New to Farmville? Sign up<a href="/signup"> here</a></p>
              </div>
              <div class="login_button">
                <button class="btn login_button">Login</button>
        </form>

</form>



{% endblock %}