{% extends "base.html" %}
{% block title %}Farmville - Retrieve Information{% endblock %}

{% block content %}
<h1 class="display-4">Retrieve Information</h1>
<div>
    {% if count == 0 %}
    <p>There are no information.</p>
    {% elif count == 1 %}
    <p>There is 1 user.</p>
    {% else %}
    <p>There are {{ count }} users.</p>
    {% endif %}
</div>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Info ID</th>
                <th>Name</th>
                <th>Address</th>
                <th>Card Number</th>
                <th>Month</th>
                <th>Year</th>
                <th>CVV</th>
                <th>Date</th>
                <th>Difference</th>
                <th>Seeds</th>
            </tr>
        </thead>
        <tbody>
            {% for info in chckoutinfo_list %}
            <tr>
                <td>{{ info.get_info_id() }}</td>
                <td>{{ info.get_name() }}</td>
                <td>{{ info.get_address() }}</td>
                <td>{{ info.get_card_number() }}</td>
                <td>{{ info.get_exp_month() }}</td>
                <td>{{ info.get_exp_year() }}</td>
                <td>{{ info.get_cvv() }}</td>
                <td>{{ info.get_date() }}</td>
                <td>{{ info.get_difference() }}</td>
                <td>{{ info.get_seed() }}</td>
                <td></td>
                <td><a href="/updateInfo/{{info.get_info_id()}}" class="btn btn-warning">Update</a></td>
                <td>
                    <form action="{{url_for('delete_info', id=info.get_info_id())}}" method="POST">
                        <!-- <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{info.get_name()}}?');"> -->
                        <!-- Button to Open the Modal -->
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#myModal_{{info.get_info_id()}}">
                            Delete
                        </button>

                        <!-- The Modal -->
                        <div class="modal" id="myModal_{{info.get_info_id()}}">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <!-- Modal Header -->
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete Confirmation</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                    </div>

                                    <!-- Modal body -->
                                    <div class="modal-body">
                                       Are you sure you want to delete {{info.get_name()}}?
                                    </div>

                                    <!-- Modal footer -->
                                    <div class="modal-footer">
                                        <input type="submit" value="Delete" class="btn btn-danger">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancel</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}