{% extends "base.html" %}
{% block title %} Grocery Store - Shopping {% endblock %}

{% block content %}
<style>
h1 {
    color: #646464;
    text-align: center;
}

h3 {
    color: #646464;
    text-align: center;
}
.seed {
    display: flex;
    flex-wrap: wrap;
}

.pics {
    margin-top: 30px;
}

.pics li{
    list-style: none;
    border: solid 3px pink;
    border-radius: 30px;
    padding: 10px 50px ;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(251, 205, 222);
}

.pics li a {
    background-color: rgb(230, 175, 206);
    border-radius: 30px;
    border-color: pink;
    margin-top: 10px;
}

.pics img {
    width: 220px;
    height: 200px;
    border-radius: 30px;
}

.pics p {
    font-weight: bold;
    color: #646464;
}

.plant {
    display: flex;
    flex-wrap: wrap;
}

.pic1 {
    margin-top: 30px;
}

.pic1 li{
    list-style: none;
    border: solid 3px pink;
    border-radius: 30px;
    padding: 10px 50px ;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(251, 205, 222);
}

.pic1 li a {
    background-color: rgb(230, 175, 206);
    border-radius: 30px;
    border-color: pink;
    margin-top: 10px;
}

.pic1 img {
    width: 220px;
    height: 200px;
    border-radius: 30px;
}

.pic1 p {
    font-weight: bold;
    color: #646464;
}
a {
        text-decoration: none;
        color: white;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    }
</style>
<h1>Products</h1>
<ul>
    <h1>Seed</h1>
    <div class="seed">
        {% for id,product in products.items() %}
        {% if product['seedplant'] == 'seed' %}
            <div class="pics">
                <li>
                    <h3>{{ product['name'] }}</h3>
                    <p>Price: {{ product['price'] }}</p>
                    <p>Stock: {{ product['stock'] }}</p>
                    <p>Plant or Seed: {{ product['seedplant'] }}</p>
                    <img src="{{ product['image'] }}" alt="{{ product['name'] }}" width="200"><br>
                    <!-- <a href="#" class="btn btn-primary">Plant now</a><br> -->
                    <a href="{{ url_for('addtocart',item=id)}}" class="btn btn-primary">Checkout now</a>
                    
                </li>
            </div>
        {% endif %}
        {% endfor %}
    </div>
</ul>
<br>
<ul>
    <h1>Plant</h1>
    <div class="plant">
        
        {% for id,product in products.items() %}
        {% if product['seedplant'] == 'plant' %}
            <div class="pic1">
                <li>
                    <h3>{{ product['name'] }}</h3>
                    <p>Price: {{ product['price'] }}</p>
                    <p>Stock: {{ product['stock'] }}</p>
                    <p>Plant or Seed: {{ product['seedplant'] }}</p>
                    <img src="{{ product['image'] }}" alt="{{ product['name'] }}" width="200"><br>
                    <a href="{{ url_for('addtocart',item=id)}}" class="btn btn-primary">Checkout now</a>
                </li>
            </div>
        {% endif %}
        {% endfor %}
    </div>
</ul>
{% endblock %}